---
order: 2
permalink: about
title: titles.about
---

<section class="philo">
  <h1>{% t philo.company.title %}</h1>
  <div>
    {% for elt in site.data.philo %}
      <div>
        <img src="{{ elt.img }}" alt="{% t elt.text %}"/>
        <h3>{% t elt.text %}</h3>
      </div>
    {% endfor %}
  </div>
  <h2>{% t philo.company.subtitle %}</h2>
</section>

<section class="dream">
  <h1>{% t philo.header %}</h1>
</section>

<section class="founders">
  <h1>{% t philo.founders.title %}</h1>
  <h2>{% t philo.founders.text %}</h2>
  <div class="list">
    {% assign sorted_founders = site.teams | sort:"order" | where: "lang", site.lang | where: "type", "founders" %}
    {% for founder in sorted_founders %}
      <div>
        <div class="photo">
          <img alt="{{founder.name}}" src="{{founder.image}}">
        </div>
        <div class="detail">
          <h3>{{founder.name}}</h3>
          {% for role in founder.roles %}
            <h4>{{ role }}</h4>
          {% endfor %}
          <h5>{{founder.xp}}</h5>
          <div>{{founder.content}}</div>
          <ul class="social">
            {% if founder.twitter %}
            <li><a href="{{founder.twitter}}" title="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
            {% endif %}
            {% if founder.github %}
            <li><a href="{{founder.github}}" title="Github"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
            {% endif %}
            {% if founder.linkedin %}
            <li><a href="{{founder.linkedin}}" title="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<section class="assets">
  <h1>{% t philo.employees.title %}</h1>
  <h2 class="projects">{% t philo.employees.projects %}</h2>
  <h2>{% t philo.employees.need %}</h2>
  <h3>{% t philo.employees.we-are %}</h3>
  <h2>{% t philo.employees.but-we %}</h2>
  <h3>{% t philo.employees.why %}</h3>
</section>

<section class="quote">
  <img src="{{ site.baseurl_root }}/public/images/philo/einstein.jpg" alt="Albert Einstein">
  <blockquote>
    <p>{% t philo.einstein.sitation %}</p>
    <footer>-- <cite>{% t philo.einstein.from %}</cite></footer>
  </blockquote>
</section>

<section class="coffee">
  <div></div>
  <div>
    <h1>{% t philo.coffee.come %}</h1>
    <h2>{% t philo.coffee.coffee %}</h2>
  </div>
  <div></div>
</section>
