---
title: titles.home
permalink: index
---

<!-- Header -->
<div class="header">
  <h1>{% t home.expert-title %}</h1>
  <section class="header-top">
    <img src="/public/images/index/expertise-01.png" alt="Expertise">
  </section>
  <section class="header-bottom">
    <h2>{%t home.who-we-are %}</h2>
    {%t home.intro %}
    <div class="benefits">
    {% for benefit in site.data.benefits %}
      <div>
        {% include {{ benefit.image }} %}
      </div>
    {% endfor %}
    </div>
    <p>{% t home.expert-content %}</p>
  </section> 
</div>

<!-- Customers -->
<section class="customers">
  <h2>{%t home.worked-with %}</h2>
  <div class="list">
    {% for customer in site.data.customers %}
      <span>
        <img alt="{{customer.alt}}" src="/public/images/logos/{{customer.img}}">
      </span> 
    {% endfor %}
  </div>
</section>
