---
title: titles.home
permalink: index
---

<!-- Carousel -->
<section class="carousel">
  <h1>
    <div>{% t home.tagline1 %}</div>
    <div>{% t home.tagline2 %}</div>
  </h1>
  <a href="#dialog-contact" class="button">
    {% t general.talk-to-us %}
  </a>
</section> 

<!-- Who -->
<section class="who">
  <h1>{%t home.who-we-are %}</h1>
  <p>{%t home.intro %}</p>
  <div class="benefits">
    {% for benefit in site.data.benefits %}
    <div>
      <i class="fa fa-{{benefit.icon}}" aria-hidden="true"></i>
      <h3>{%t benefit.text %}</h3>
    </div>
    {% endfor %}
  </div>
</section>

<!-- Customers -->
<section class="customers">
  <h1>{%t home.worked-with %}</h1>
  <div class="list">
    {% for customer in site.data.customers %}
      <span>
        <img alt="{{customer.alt}}" src="{{customer.img}}">
      </span> 
    {% endfor %}
  </div>
</section>

{% include contact_modal.html %}
