---
order: 4
title: titles.jobs
permalink: job
---

<section class="job-top"></section>

<section>
  <h1>{% t jobs.title %}</h1>
  <h2>{% t jobs.intro %}</h2>
</section>

<section class="jobs">
  <h1>{% t jobs.offers.title %}</h1>

  <div class="list">
    {% assign sorted_job = site.jobs | sort:"order" | where: "lang", site.lang  %}
    {% for job in sorted_job %}
      <input type="radio" id="job-{{forloop.index}}" name="job" value="{{forloop.index}}">
      <div class="job">
        <label for="job-{{forloop.index}}">
          <span>
            <img alt="{{job.title}}" src="{{job.image}}">
          </span>
          <div class="title">
            <div>{{ job.title }}</div>
            <div>{{ job.subtitle }}</div>
          </div>
          <div class="techno">
            <div>{{ job.techno }}</div>
            <div>{{ job.subtechno }}</div>
          </div>
          <i class="fa"></i>
        </label>
        <div class="content">
          {{ job.content }}
          <p>
            {% t jobs.offers.contact %}
            <a href="mailto:{{ site.contact.mail }}">
              {% t jobs.offers.candidature %}
            </a>
          </p>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="nojob">
    <p>{% t jobs.nojobs %}</p>
    <a class="button" href="mailto:{{ site.contact.mail }}">{% t jobs.application %}</a>
  </div>
</section>

{% include contact_modal.html %}
