//colors
$color_cerulean_approx: #0a97d3;
$color_storm_dust_approx: #666666;
$color_viking_approx: #5cbbdb;
$color_shakespeare_approx: #47b3d7;
$white: #fff;
$color_lochmara_approx: #0288d1;
$color_allports_approx: #026ca6;
$color_pale_sky_approx: #65758e;
$color_comet_approx: #505c70;
$color_gallery_approx: #eeeeee;
$color_shady_lady_approx: #a6a6a6;
$color_bon_jour_approx: #e1e1e1;
$color_jelly_bean_approx: #217997;
$color_venice_blue_approx: #025480;
$color_astronaut_blue_approx: #013d5c;
$color_royal_blue_approx: #4285f4;
$color_chicago_approx: #595959;
$white_30: rgba(255, 255, 255, 0.3);
$white_80: rgba(255, 255, 255, 0.8);
$color_cerulean_90_approx: rgba(3, 169, 244, 0.9);
$color_regent_gray_approx: #818fa5;
$color_wild_sand_approx: #f5f5f5;
$color_mine_shaft_approx: #333;
$black_50: rgba(0, 0, 0, 0.5);
$color_picton_blue_approx: #2ebcfc;
$color_alabaster_approx: #f8f9fa;
$color_dove_gray_approx: #727272;
$black: #000000;
$wild_sand: #f4f4f4;
$color_dodger_blue_approx: #1cb1f5;
$color_bali_hai_approx: #909cb0;
$color_heather_approx: #bcc4d0;
$color_violet_eggplant_approx: #9b26af;
$color_gray_approx: #7f7f7f;
$color_mountain_mist_approx: #999999;
$color_flame_pea_approx: #e65348;
$white_70: rgba(255, 255, 255, 0.7);
$white_60: rgba(255, 255, 255, 0.6);
$white_90: rgba(255, 255, 255, 0.9);
$white_20: rgba(255, 255, 255, 0.2);
$white_50: rgba(255, 255, 255, 0.5);
$color_shuttle_gray_approx: #5a697f;

//fonts
$font_0: Open Sans;
$font_1: arial;
$font_2: sans-serif;

//@extend-elements
//original selectors
//.btn, a.btn
%extend_1 {
	font-weight: bold;
}

//original selectors
//.btn .fa, a.btn .fa
%extend_2 {
	color: $white;
	margin-right: 5px;
}

//original selectors
//.btn:focus, a.btn:focus
%extend_3 {
	color: $white;
}

//original selectors
//a.btn-cta, .btn-cta
%extend_4 {
	padding: 8px 30px;
}

//original selectors
//a.btn-cta-primary, .btn-cta-primary
%extend_5 {
	background: $color_lochmara_approx;
	border: none;
	color: $white;
}

//original selectors
//a.btn-cta-primary:hover, .btn-cta-primary:hover
%extend_6 {
	background: $color_allports_approx;
	border: none;
	color: $white;
}

//original selectors
//a.btn-cta-secondary, .btn-cta-secondary
%extend_7 {
	background: $color_pale_sky_approx;
	border: none;
	color: $white;
}

//original selectors
//a.btn-cta-secondary:hover, .btn-cta-secondary:hover
%extend_8 {
	background: $color_comet_approx;
	border: none;
	color: $white;
}

//original selectors
//input[type="text"], input[type="email"], input[type="password"], input[type="submit"], input[type="button"], textarea, select
%extend_9 {
	appearance: none;
}

//original selectors
//.vertical-align >[class^="col-"], .vertical-align >[class*=" col-"]
%extend_10 {
	display: flex;
	align-items: center;
	justify-content: center;
}

//original selectors
//.navbar-nav >li.active >a, .navbar-nav >li >a:hover
%extend_11 {
	border-bottom: 3px solid $white;
	background: none;
	margin-bottom: 0;
}

//original selectors
//.home-promo, .contact-promo
%extend_12 {
	padding-top: 160px;
	position: relative;
	z-index: 10;
}

//original selectors
//.section-philo, .section-philo h1
%extend_13 {
	min-height: 1060px;
	line-height: 1060px;
}

//original selectors
//.employees-section h1, .employees-section h2, .employees-section h3
%extend_14 {
	color: $white;
}

//original selectors
//.solutions-section, .solutions-section h1
%extend_15 {
	color: $color_cerulean_approx;
}

//original selectors
//.solutions-offers-section, .approach-section
%extend_16 {
	padding-bottom: 60px;
	background: $color_cerulean_approx;
	color: $white;
}

//original selectors
//.solutions-offers-section h1, .solutions-offers-section h2, .solutions-offers-section h3, .solutions-offers-section h4
%extend_17 {
	color: $white;
}

//original selectors
//.approach-section h1, .approach-section h2, .approach-section h3, .approach-section h4
%extend_18 {
	color: $white;
}

//original selectors
//.missions-section h1, .missions-section h2, .missions-section h3, .missions-section h4
%extend_19 {
	color: $white;
}

//original selectors
//.experts-profiles-section h1, .experts-profiles-section h2, .experts-profiles-section h3, .experts-profiles-section h4
%extend_20 {
	color: $color_royal_blue_approx;
}

//original selectors
//.experts-contact-section h1, .experts-contact-section h2, .experts-contact-section h4
%extend_21 {
	color: $color_gray_approx;
}

//original selectors
//.offers-section .offer-title, .offers-section .offer-desc, .offers-section .offer-collapse
%extend_22 {
	background: $white;
	padding: 10px;
}

//original selectors
//.assets-section .assets-title, .assets-section .assets-desc, .assets-section .assets-collapse
%extend_23 {
	background: $white;
	padding: 10px;
}

//original selectors
//.map-section .gmap, .map-section .gmap *, .map-section .gmap *:before, .map-section .gmap *:after
%extend_24 {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: content-box;
}

//original selectors
//.navbar-nav >li.active >a, .navbar-nav >li >a:hover
%extend_25 {
	border-bottom: none;
	background: $color_cerulean_approx;
	font-size: 13px;
}

//original selectors
//body.no-header-wrapper, .header-wrapper-career, .header-wrapper-contact
%extend_26 {
	margin-top: 50px;
}

//original selectors
//.home-promo, .contact-promo
%extend_27 {
	padding-top: 80px;
}

//original selectors
//.section-philo, .section-philo h1
%extend_28 {
	min-height: 460px;
	line-height: 460px;
}

//original selectors
//body.no-header-wrapper, .header-wrapper-career, .header-wrapper-contact
%extend_29 {
	margin-top: 94px;
}

//original selectors
//.section-philo, .section-philo h1
%extend_30 {
	min-height: 540px;
	line-height: 540px;
}

//original selectors
//.section-philo, .section-philo h1
%extend_31 {
	min-height: 1060px;
	line-height: 1060px;
}


body {
	font-family: $font_0, $font_1, $font_2;
	color: $color_storm_dust_approx;
	font-size: 18px;
	overflow-x: hidden;
	h1 {
		font-size: 40px;
		font-family: $font_0, $font_1, $font_2;
		font-weight: bold;
		color: $color_chicago_approx;
		text-align: center;
	}
	h2 {
		color: $color_chicago_approx;
		font-size: 20px;
		text-align: center;
	}
	h3 {
		color: $color_chicago_approx;
		font-size: 18px;
		text-align: center;
		font-weight: 400;
	}
	h4 {
		color: $color_chicago_approx;
		text-align: center;
		ul {
			text-align: left;
		}
	}
}
p {
	margin-bottom: 16px;
	line-height: 1.5;
	font-size: 18px;
	&.subtitle {
		font-size: 21px;
		font-weight: 600;
		text-align: left;
		padding-bottom: 10px;
	}
	&.line {
		font-size: 18px;
		text-align: left;
		font-weight: 400;
	}
}
a {
	color: $color_viking_approx;
	&:hover {
		text-decoration: underline;
		color: $color_shakespeare_approx;
	}
	&:focus {
		text-decoration: none;
	}
	&.btn {
		@extend %extend_1;
		.fa {
			@extend %extend_2;
		}
		&:focus {
			@extend %extend_3;
		}
	}
	&.btn-cta {
		@extend %extend_4;
	}
	&.btn-cta-primary {
		@extend %extend_5;
		&:hover {
			@extend %extend_6;
		}
	}
	&.btn-cta-secondary {
		@extend %extend_7;
		&:hover {
			@extend %extend_8;
		}
	}
}
.btn {
	@extend %extend_1;
	.fa {
		@extend %extend_2;
	}
	&:focus {
		@extend %extend_3;
	}
}
.btn-cta {
	@extend %extend_4;
}
.btn-cta-primary {
	@extend %extend_5;
	&:hover {
		@extend %extend_6;
	}
}
.btn-cta-secondary {
	@extend %extend_7;
	&:hover {
		@extend %extend_8;
	}
}
.highlight {
	color: $color_viking_approx;
}
.form-control {
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	height: 40px;
	border-color: $color_gallery_approx;
	&:-moz-placeholder {
		color: $color_shady_lady_approx;
	}
	&:-ms-input-placeholder {
		color: $color_shady_lady_approx;
	}
	&:focus {
		border-color: $color_bon_jour_approx;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: none;
	}
}
.form-control::-webkit-input-placeholder {
	color: $color_shady_lady_approx;
}
.form-control::-moz-placeholder {
	color: $color_shady_lady_approx;
}
.text-highlight {
	color: $color_jelly_bean_approx;
}
input[type="text"] {
	@extend %extend_9;
}
input[type="email"] {
	@extend %extend_9;
}
input[type="password"] {
	@extend %extend_9;
}
input[type="submit"] {
	@extend %extend_9;
}
input[type="button"] {
	@extend %extend_9;
}
textarea {
	@extend %extend_9;
}
select {
	@extend %extend_9;
}
#topcontrol {
	background: $color_venice_blue_approx;
	color: $white;
	text-align: center;
	display: inline-block;
	width: 35px;
	height: 35px;
	border: none;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	//Instead of the line below you could use @include background-clip($clip)
	background-clip: padding-box;
	z-index: 30;
	&:hover {
		background: $color_astronaut_blue_approx;
	}
	.fa {
		position: relative;
		top: 3px;
		font-size: 25px;
	}
}
.underlined-white {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 2px;
	background: $white;
}
.underlined-blue {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 2px;
	background: $color_royal_blue_approx;
}
.vertical-align {
	display: flex;
	flex-direction: row;
	> [class^="col-"] {
		@extend %extend_10;
	}
	> [class*=" col-"] {
		@extend %extend_10;
	}
}
.bg-slider-wrapper {
	content: "";
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 650px;
	background: $color_chicago_approx;
	.flexslider {
		margin: 0;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: none;
		border: none;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		//Instead of the line below you could use @include background-clip($clip)
		background-clip: padding-box;
		.slide {
			display: block;
			height: 650px;
			&.slide-1 {
				background: $color_pale_sky_approx url(../images/background/promo-background-1.jpg) no-repeat 50% top;
				background-size: cover;
			}
			&.slide-2 {
				background: $color_pale_sky_approx url(../images/background/promo-background-2.jpg) no-repeat 50% top;
				background-size: cover;
			}
			&.slide-3 {
				background: $color_pale_sky_approx url(../images/background/promo-background-3.jpg) no-repeat 50% top;
				background-size: cover;
			}
		}
		.flex-control-nav {
			z-index: 20;
			bottom: 45px;
			position: relative;
			li a {
				background: $white_30;
				&.flex-active {
					background: $white_80;
				}
			}
		}
	}
}
.header-wrapper-home {
	min-height: 650px;
}
.header-wrapper-work {
	background: $color_pale_sky_approx url(../images/background/heading-background-1.jpg) no-repeat 50% top;
	background-size: cover;
	min-height: 400px;
}
.header-wrapper-case-study {
	background: $color_pale_sky_approx url(../images/background/case-study-background-1.jpg) no-repeat 50% top;
	background-size: cover;
	min-height: 400px;
}
.header-wrapper-about {
	background: $color_pale_sky_approx url(../images/background/heading-background-2.jpg) no-repeat 50% top;
	background-size: cover;
	min-height: 400px;
}
.header-wrapper-blog-home {
	background: $color_pale_sky_approx url(../images/background/heading-background-3.jpg) no-repeat 50% top;
	background-size: cover;
	min-height: 400px;
}
.header-wrapper-contact {
	background: $color_pale_sky_approx url(../images/background/heading-background-4.jpg) no-repeat 50% top;
	background-size: cover;
	min-height: 400px;
}
.header-wrapper-career {
	background: $color_pale_sky_approx url(../images/background/career.jpg) no-repeat 50% top;
	background-size: cover;
	min-height: 650px;
}
.header-wrapper-jobs {
	background: $color_pale_sky_approx url(../images/background/recutement.jpg) no-repeat 50% top;
	background-size: cover;
	min-height: 800px;
	.container-fluid {
		.title {
			font-size: 50px;
		}
		.intro {
			font-size: 30px;
		}
	}
}
.navbar {
	color: $white;
	background: $color_cerulean_90_approx;
	.icon-bar {
		background: $white;
	}
	.navbar-header {
		margin-left: 20px;
	}
}
.accordion-header {
	cursor: pointer;
	.fa-chevron:after {
		color: $color_cerulean_approx;
		content: "\f078";
	}
	&.collapsed .fa-chevron:after {
		color: $color_cerulean_approx;
		content: "\f054";
	}
}
.customers {
	.title {
		font-size: 28px;
		margin-top: 0;
		margin-bottom: 40px;
		color: $color_comet_approx;
		font-family: $font_0, $font_1, $font_2;
		font-weight: 700;
	}
	.intro {
		color: $color_pale_sky_approx;
		font-size: 20px;
		font-weight: 300;
		margin-bottom: 60px;
	}
	.logo-list {
		padding-bottom: 20px;
		img {
			margin: 0 auto;
			opacity: 0.8;
			&:hover {
				opacity: 1;
			}
		}
	}
}
.flexslider {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
	//Instead of the line below you could use @include background-clip($clip)
	background-clip: padding-box;
	padding: 0;
	border: 1px solid $color_gallery_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	overflow: hidden;
	&#carousel {
		img {
			opacity: 0.5;
			cursor: pointer;
			&:hover {
				opacity: 1;
			}
		}
		.slides > li {
			margin-right: 5px;
			&.flex-active-slide img {
				opacity: 1;
				cursor: default;
			}
		}
	}
	.flex-direction-nav a {
		color: $color_wild_sand_approx;
		opacity: 0.7;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50%;
		//Instead of the line below you could use @include background-clip($clip)
		background-clip: padding-box;
		background: $color_mine_shaft_approx;
		text-align: center;
		width: 32px;
		height: 32px;
		&:before {
			font-size: 18px;
			//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: none;
			margin-bottom: 30px;
			padding-top: 8px;
		}
		&:hover {
			opacity: 1;
		}
	}
}
.header-title-section {
	margin-bottom: 45px;
	text-align: center;
	font-family: $font_0, $font_1, $font_2;
	.title {
		font-size: 56px;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 0 1px 1px $black_50;
		color: $color_picton_blue_approx;
		margin-bottom: 20px;
		margin-top: 20px;
		font-weight: 800;
		text-transform: uppercase;
	}
	.intro {
		font-size: 28px;
		font-weight: 800;
		color: $white;
		text-transform: uppercase;
	}
}
.section-titles {
	margin-top: 80px;
	margin-bottom: 80px;
	h2 {
		margin-top: 40px;
	}
	h3 {
		margin-top: 20px;
	}
}
.first-section {
	padding-top: 60px;
}
.last-section {
	padding-bottom: 60px;
}
.careers-section {
	background: $white url(/public/images/careers/assets_bg-top.png) no-repeat scroll center bottom / 100% auto;
	padding-bottom: 120px;
	.section-titles {
		margin-top: 0;
	}
	.item .item-inner {
		background: $color_alabaster_approx;
		padding: 30px;
		padding-bottom: 60px;
		overflow: hidden;
		position: relative;
	}
}
.promo-jobs {
	padding-top: 500px;
	.title-section {
		margin-bottom: 0;
		.intro {
			color: $color_picton_blue_approx;
			//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: 0 1px 1px $black_50;
		}
	}
}
.home-promo {
	@extend %extend_12;
	.btn {
		font-size: 20px;
		font-weight: normal;
	}
}
.contact-promo {
	@extend %extend_12;
}
.who {
	.title {
		font-size: 36px;
		font-family: $font_0, $font_1, $font_2;
		font-weight: 800;
		color: $color_comet_approx;
		margin-top: 0;
		margin-bottom: 30px;
	}
	.intro {
		margin: 0 auto;
		font-size: 20px;
		color: $color_pale_sky_approx;
		margin-bottom: 60px;
		font-weight: 300;
	}
	.benefits {
		.item {
			font-size: 16px;
			.fs1 {
				font-size: 60px;
				color: #$color_dove_gray_approx;
			}
		}
		.item-inner {
			padding: 30px;
			padding-top: 45px;
			background: $color_alabaster_approx;
		}
		.sub-title {
			font-weight: bold;
			font-size: 18px;
			margin-bottom: 15px;
			color: $color_comet_approx;
		}
		.desc {
			color: $color_pale_sky_approx;
		}
	}
}
.philo-company-section {
	padding-top: 160px;
	h3 {
		color: $color_picton_blue_approx;
	}
}
.section-philo {
	margin-top: 80px;
	background: $color_pale_sky_approx url(../images/background/philo.jpg) no-repeat 50% top;
	background-size: cover;
	@extend %extend_13;
	h1 {
		@extend %extend_13;
		color: $white;
		vertical-align: middle;
	}
}
.employees-section {
	background: $color_cerulean_approx;
	color: $white;
	padding: 80px;
	h1 {
		@extend %extend_14;
	}
	h2 {
		@extend %extend_14;
	}
	h3 {
		@extend %extend_14;
	}
	.projects {
		color: $black;
	}
}
.einstein-section {
	background: $black;
	padding: 80px;
	h2 {
		color: $white;
	}
	.from {
		clear: both;
		float: right;
	}
}
.coffee-section {
	background: $wild_sand;
	color: $black;
	padding: 80px;
}
.cta-section {
	background: $color_pale_sky_approx url(../images/background/cta-background.jpg) no-repeat left top;
	background-size: cover;
	min-height: 420px;
	color: $white;
	padding-top: 80px;
	.title {
		font-size: 36px;
		margin-top: 0;
		margin-bottom: 30px;
		font-family: $font_0, $font_1, $font_2;
		font-weight: 800;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 0 1px 1px $black_50;
	}
	.contact-info {
		font-size: 24px;
		span {
			display: block;
			margin-bottom: 15px;
		}
		.intro {
			opacity: 0.8;
			font-weight: 300;
		}
		.info {
			font-family: $font_0, $font_1, $font_2;
			font-weight: 800;
		}
		a {
			color: $color_dodger_blue_approx;
			&:hover {
				color: $color_cerulean_approx;
			}
		}
	}
}
.services {
	padding: 80px 0;
	.title {
		font-size: 28px;
		font-family: $font_0, $font_1, $font_2;
		font-weight: 800;
		color: $color_comet_approx;
		margin-top: 0;
		margin-bottom: 30px;
	}
	.intro {
		font-size: 20px;
		font-weight: 300;
		color: $color_pale_sky_approx;
		max-width: 800px;
		margin: 0 auto;
		margin-bottom: 60px;
	}
	.item {
		margin-bottom: 30px;
	}
	.item-inner {
		background: $color_alabaster_approx;
		.header-box {
			padding: 15px 30px;
			background: $color_bali_hai_approx;
			color: $white;
			.fs1 {
				color: $white;
				font-size: 28px;
				padding-top: 10px;
				display: inline-block;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 50%;
				//Instead of the line below you could use @include background-clip($clip)
				background-clip: padding-box;
				width: 56px;
				height: 56px;
				border: 1px solid $white;
			}
		}
		.sub-title {
			font-size: 18px;
			font-weight: bold;
			margin-top: 0;
			margin-bottom: 20px;
			color: $color_comet_approx;
		}
		.desc {
			padding: 30px 15px;
			color: $color_pale_sky_approx;
		}
	}
	.btn-cta {
		font-size: 16px;
		margin-top: 30px;
	}
}
.team-section {
	padding: 80px 0;
}
.join-us {
	padding: 80px 0;
	background: $color_wild_sand_approx;
	.title {
		font-size: 36px;
		font-family: $font_0, $font_1, $font_2;
		font-weight: 800;
		color: $color_comet_approx;
		margin-top: 0;
		margin-bottom: 30px;
	}
	.intro {
		max-width: 700px;
		margin: 0 auto;
		margin-bottom: 60px;
		color: $color_pale_sky_approx;
		font-weight: 300;
		font-size: 20px;
	}
	.info {
		margin-bottom: 30px;
	}
	.partner {
		margin-bottom: 30px;
		.sub-title {
			margin-top: 0;
			margin-bottom: 15px;
			color: $color_comet_approx;
		}
	}
}
.photos {
	padding: 80px 0;
	.title {
		font-size: 36px;
		font-family: $font_0, $font_1, $font_2;
		font-weight: 800;
		color: $color_comet_approx;
		margin-top: 0;
		margin-bottom: 15px;
	}
	.intro {
		color: $color_pale_sky_approx;
		font-size: 20px;
		margin-bottom: 60px;
		font-weight: 300;
	}
}
.section-content {
	padding-bottom: 10px;
	text-align: center;
	img {
		height: 90px;
		padding-bottom: 10px;
		padding-top: 5px;
	}
}
.solutions-section {
	@extend %extend_15;
	h1 {
		@extend %extend_15;
	}
}
.solutions-offers-section {
	@extend %extend_16;
	h1 {
		@extend %extend_17;
	}
	h2 {
		@extend %extend_17;
	}
	h3 {
		@extend %extend_17;
	}
	h4 {
		@extend %extend_17;
	}
}
.approach-section {
	@extend %extend_16;
	h1 {
		@extend %extend_18;
	}
	h2 {
		@extend %extend_18;
	}
	h3 {
		@extend %extend_18;
	}
	h4 {
		@extend %extend_18;
	}
}
.missions-section {
	padding-bottom: 60px;
	background: $color_violet_eggplant_approx;
	color: $white;
	h1 {
		@extend %extend_19;
	}
	h2 {
		@extend %extend_19;
	}
	h3 {
		@extend %extend_19;
	}
	h4 {
		@extend %extend_19;
	}
}
.experts-profiles-section {
	padding-bottom: 60px;
	color: $color_royal_blue_approx;
	h1 {
		@extend %extend_20;
	}
	h2 {
		@extend %extend_20;
	}
	h3 {
		@extend %extend_20;
	}
	h4 {
		@extend %extend_20;
	}
}
.experts-contact-section {
	padding-bottom: 60px;
	background: $wild_sand;
	color: $color_gray_approx;
	h1 {
		@extend %extend_21;
	}
	h2 {
		@extend %extend_21;
	}
	h4 {
		@extend %extend_21;
	}
}
.contact-section {
	padding-top: 20px;
	color: $color_mountain_mist_approx;
	background: $color_wild_sand_approx;
	.title {
		font-size: 36px;
		font-family: $font_0, $font_1, $font_2;
		font-weight: 800;
		color: $color_comet_approx;
		margin-top: 0;
		margin-bottom: 30px;
	}
	.intro {
		max-width: 700px;
		margin: 0 auto;
		margin-bottom: 60px;
		color: $color_pale_sky_approx;
		font-weight: 300;
		font-size: 20px;
	}
	.contact-info {
		margin-bottom: 30px;
		li {
			margin-right: 60px;
			margin-bottom: 30px;
			font-family: $font_0, $font_1, $font_2;
			a {
				color: $color_pale_sky_approx;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		.fs1 {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 50%;
			//Instead of the line below you could use @include background-clip($clip)
			background-clip: padding-box;
			width: 48px;
			height: 48px;
			border: 1px solid $color_pale_sky_approx;
			color: $color_pale_sky_approx;
			font-size: 22px;
			padding-top: 5px;
			display: inline-block;
			margin-bottom: 15px;
			text-align: center;
		}
		.tel .fs1 {
			padding-top: 8px;
		}
	}
	.contact-form .error {
		color: $color_flame_pea_approx;
		font-family: $font_1, $font_2;
		display: block;
		font-size: 14px;
		text-align: left;
		padding-top: 5px;
		font-weight: 300;
	}
}
.offers-section {
	color: $color_mountain_mist_approx;
	background: $color_wild_sand_approx;
	.title {
		padding-bottom: 30px;
	}
	.offer-title {
		border-right: 3px $color_wild_sand_approx solid;
		border-left: 3px $color_cerulean_approx solid;
		@extend %extend_22;
	}
	.offer-desc {
		@extend %extend_22;
	}
	.offer-collapse {
		@extend %extend_22;
	}
	.panel-collapse {
		background: $white;
		border-left: 3px $color_cerulean_approx solid;
	}
}
.accordion-content {
	margin-bottom: 10px;
}
.asset-top-section {
	background: url(/public/images/careers/assets_bg-bottom.png) no-repeat scroll center bottom / 100% 100%;
	height: 120px;
	margin-top: -120px;
}
.assets-section {
	background: $color_wild_sand_approx;
	color: $color_mountain_mist_approx;
	.section-titles {
		margin-top: 0;
	}
	.title {
		padding-bottom: 30px;
	}
	.assets-title {
		border-left: 3px $color_cerulean_approx solid;
		@extend %extend_23;
	}
	.assets-desc {
		@extend %extend_23;
	}
	.assets-collapse {
		@extend %extend_23;
	}
	.panel-collapse {
		background: $white;
		border-left: 3px $color_cerulean_approx solid;
	}
}
.map-section {
	padding-bottom: 10px;
	.title {
		font-size: 36px;
		font-weight: 300;
		margin-top: 0;
		margin-bottom: 30px;
	}
	.adress-outer {
		color: $color_mountain_mist_approx;
		background: $color_wild_sand_approx;
	}
	.gmap-wrapper {
		position: relative;
		.map-overlay {
			position: absolute;
			background: $white;
			border: 1px solid $color_gallery_approx;
			padding: 30px;
			top: 30px;
			right: 30px;
			.title {
				font-family: $font_0, $font_1, $font_2;
				font-weight: 800;
				color: $color_pale_sky_approx;
				font-size: 20px;
				margin-top: 0;
				margin-bottom: 15px;
			}
			.address {
				margin-bottom: 0;
				color: $color_pale_sky_approx;
			}
		}
	}
	.gmap {
		height: 400px;
		text-align: left;
		font-weight: normal;
		@extend %extend_24;
		* {
			@extend %extend_24;
			&:before {
				@extend %extend_24;
			}
			&:after {
				@extend %extend_24;
			}
		}
		.title {
			font-size: 14px;
			font-weight: 400;
			margin-bottom: 15px;
			margin-top: 5px;
		}
		.gm-style-iw {
			width: 150px;
		}
	}
}
.section-404 {
	padding-top: 130px;
	padding-bottom: 120px;
	.title-404 {
		font-size: 120px;
		font-weight: 800;
		font-family: $font_0, $font_1, $font_2;
		color: $color_pale_sky_approx;
	}
	.intro {
		font-size: 24px;
		margin-bottom: 30px;
	}
}
.modal {
	.modal-dialog {
		width: 760px;
	}
	.modal-title {
		font-family: $font_0, $font_1, $font_2;
		font-weight: 800;
		font-size: 36px;
		color: $color_comet_approx;
		padding-top: 26px;
	}
	.modal-body {
		padding: 30px 60px;
	}
	.modal-header {
		border: none;
	}
	&.modal-contact {
		.modal-title {
			margin-bottom: 30px;
		}
		.intro {
			padding: 0 15px;
			margin-bottom: 15px;
			color: $color_pale_sky_approx;
			font-weight: 300;
			font-size: 18px;
		}
		.contact-info {
			margin-bottom: 30px;
			li {
				margin-right: 60px;
				margin-bottom: 30px;
				font-family: $font_0, $font_1, $font_2;
				a {
					color: $color_pale_sky_approx;
				}
				&:last-child {
					margin-right: 0;
				}
			}
			.fs1 {
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 50%;
				//Instead of the line below you could use @include background-clip($clip)
				background-clip: padding-box;
				width: 48px;
				height: 48px;
				border: 1px solid $color_pale_sky_approx;
				color: $color_pale_sky_approx;
				font-size: 22px;
				padding-top: 5px;
				display: inline-block;
				margin-bottom: 15px;
				text-align: center;
			}
			.tel .fs1 {
				padding-top: 8px;
			}
		}
		.contact-form .error {
			color: $color_flame_pea_approx;
			font-family: $font_1, $font_2;
			display: block;
			font-size: 14px;
			text-align: left;
			padding-top: 5px;
			padding-left: 5px;
			font-weight: 300;
		}
	}
}
.footer {
	h3 {
		text-align: left;
	}
	.footer-content {
		background: $color_lochmara_approx;
		color: $white_70;
		padding: 30px 0;
		padding-bottom: 30px;
		font-size: 14px;
		a {
			color: $white_60;
			&:hover {
				color: $color_viking_approx;
			}
		}
		.sub-title {
			color: $white_90;
			font-family: $font_0, $font_1, $font_2;
			font-weight: 700;
			font-size: 18px;
			margin-bottom: 30px;
		}
		.contact-col {
			.fs1 {
				font-size: 20px;
				margin-right: 10px;
				line-height: 1.5;
				vertical-align: middle;
				color: $white_80;
			}
			.adr {
				padding-left: 45px;
				position: relative;
				.fs1 {
					position: absolute;
					left: 15px;
					top: 0;
				}
			}
		}
		.links-col li {
			margin-bottom: 10px;
		}
		.blog-col .item {
			margin-bottom: 30px;
			position: relative;
			padding-left: 75px;
			padding-right: 30px;
			.post-title {
				font-size: 14px;
				font-weight: 700;
				color: $white_80;
			}
			.figure {
				position: absolute;
				left: 0;
				top: 0;
			}
			.intro {
				margin-bottom: 5px;
			}
			.meta {
				color: $white_20;
			}
		}
	}
	.bottom-bar {
		background: $color_allports_approx;
		color: $white_50;
		padding: 15px;
		text-align: center;
		.copyright {
			display: inline;
			font-size: 13px;
			a {
				color: $white_50;
				&:hover {
					color: $white_50;
				}
			}
		}
	}
	.social-icons {
		margin: 0 auto;
		li {
			margin-bottom: 0;
		}
	}
	.adr-group img {
		opacity: 0.8;
	}
}
.social-icons {
	list-style: none;
	padding: 10px 0 0 15px;
	margin: 0 auto;
	margin-bottom: 25px;
	display: inline-block;
	li {
		float: left;
		&.last {
			margin-right: 0;
		}
	}
	a {
		display: inline-block;
		background: $white;
		width: 36px;
		height: 36px;
		text-align: center;
		padding-top: 7px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50%;
		//Instead of the line below you could use @include background-clip($clip)
		background-clip: padding-box;
		font-size: 16px;
		margin-right: 10px;
		float: left;
		&:hover {
			background: $color_shuttle_gray_approx;
			.fa {
				color: $white;
			}
		}
		.fa {
			color: $white_60;
			&:before {
				font-size: 18px;
				text-align: center;
				padding: 0;
				color: $color_lochmara_approx;
			}
		}
	}
}
@media(max-width: 767px) {
	body {
		h1 {
			font-size: 26px;
		}
		h2 {
			font-size: 18px;
		}
		h3 {
			font-size: 16px;
		}
		&.no-header-wrapper {
			@extend %extend_26;
		}
	}
	.btn {
		font-size: 12px;
	}
	.section-titles {
		margin-top: 50px;
		margin-bottom: 50px;
		h2 {
			margin-top: 20px;
		}
		h3 {
			margin-top: 15px;
		}
	}
	.header {
		padding: 0 inherit;
		h1.logo {
			font-size: 20px;
			line-height: 2.4;
		}
	}
	.header-wrapper-career {
		@extend %extend_26;
		min-height: 560px;
	}
	.header-wrapper-contact {
		@extend %extend_26;
	}
	.header-wrapper-home {
		min-height: 460px;
	}
	.home-promo {
		@extend %extend_27;
		.title {
			span {
				font-size: 22px;
			}
			.middle {
				font-size: 36px;
			}
			.bottom {
				font-size: 22px;
			}
		}
	}
	.contact-promo {
		@extend %extend_27;
	}
	.section-philo {
		@extend %extend_28;
		h1 {
			@extend %extend_28;
		}
	}
	.modal {
		.modal-dialog {
			width: auto;
			.intro {
				font-size: 16px;
			}
		}
		&.modal-contact {
			.modal-title {
				font-size: 22px;
			}
			.contact-info li {
				margin-right: 0;
			}
		}
		.modal-body {
			padding: 15px 30px;
		}
	}
	.bg-slider-wrapper {
		height: 460px;
		.flexslider .slide {
			height: 460px;
		}
	}
	.section-404 {
		.title-404 {
			font-size: 80px;
		}
		.intro {
			font-size: 20px;
		}
	}
	.navbar img {
		height: 38px;
		padding-bottom: 10px;
		padding-top: 0;
		padding-left: 0;
	}
	.navbar-nav > li {
		> a {
			font-size: 13px;
			border-bottom: none;
			margin-bottom: 0;
			&:hover {
				@extend %extend_25;
			}
		}
		&.locale-item > a {
			font-size: 11px;
			padding-left: 15px;
		}
		&.active > a {
			@extend %extend_25;
		}
	}
	.promo .title .middle {
		font-size: 38px;
	}
	.section .title {
		font-size: 26px;
	}
	.cta-section .contact-info {
		font-size: 20px;
	}
	.blog-list .item {
		.post-title {
			font-size: 22px;
		}
		.meta .meta-list {
			text-align: left;
			li {
				display: inline-block;
				margin-right: 5px;
			}
			.post-time {
				font-size: 11px;
				padding: 5px 10px;
				margin-right: 5px;
				span.date {
					font-size: 14px;
				}
			}
		}
	}
	.blog-post-wrapper .comment-area .comment-container .comment-item {
		.comment-author {
			top: 15px;
			left: 15px;
			img {
				width: 35px;
				height: 35px;
			}
		}
		.comment-item-box {
			padding: 15px;
			padding-left: 65px;
		}
		.children {
			padding-left: 15px;
		}
	}
	.contact-section .contact-info li {
		margin-right: 0;
	}
	.conclusion button {
		margin-top: 10px;
	}
}
@media(min-width: 768px) {
	.navbar {
		.navbar-collapse {
			margin-left: 0;
			padding-left: 15px;
			padding-right: 15px;
			line-height: 10px;
			height: 40px;
			text-align: center;
		}
		img {
			height: 45px;
			padding-bottom: 0;
			padding-top: 15px;
			padding-left: 100px;
		}
		.navbar-nav {
			display: inline-block;
			float: none;
		}
	}
	.navbar-fixed-top {
		.nav {
			padding: 20px 0;
		}
		.navbar-brand {
			padding: 15px 0 0;
		}
	}
	.header-wrapper-career {
		@extend %extend_29;
	}
	.header-wrapper-contact {
		@extend %extend_29;
	}
	.nav-center {
		text-align: center;
	}
	.navbar-nav > li > a {
		padding: 20px 8px 10px;
		font-size: 16px;
	}
	.header.header-shrink .navbar img {
		padding-bottom: 20px;
		padding-top: 0;
	}
	body.no-header-wrapper {
		@extend %extend_29;
	}
	.modal .modal-dialog {
		width: 660px;
	}
	.latest-work .item .figure-container a {
		min-height: 440px;
	}
}
@media(min-width: 992px) {
	.header {
		&.header-shrink .navbar img {
			padding-bottom: 30px;
		}
		h1.logo {
			float: left;
			margin: inherit;
		}
	}
	.header-wrapper-home {
		height: 650px;
	}
	.header-wrapper-career {
		min-height: 650px;
	}
	.section-philo {
		@extend %extend_30;
		h1 {
			@extend %extend_30;
		}
	}
	.navbar img {
		height: 60px;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.navbar-nav > li {
		> a {
			padding: 20px 15px 10px;
			font-size: 18px;
		}
		&.locale-item > a {
			font-size: 14px;
		}
	}
	.navbar-form .form-control {
		width: 280px;
	}
	.modal .modal-dialog {
		width: 760px;
	}
	.latest-work .item .figure-container a {
		min-height: 440px;
	}
}
@media(min-width: 1200px) {
	.section-philo {
		@extend %extend_31;
		h1 {
			@extend %extend_31;
		}
	}
	.latest-work .item .figure-container a {
		min-height: 520px;
	}
}
.video-container iframe {
	max-width: 100%;
}
.navbar-nav > li {
	> a {
		color: $white;
		margin-bottom: 3px;
		&:hover {
			@extend %extend_11;
		}
	}
	&.locale-item {
		margin-right: 0;
		margin-left: 0;
		> a {
			font-size: 13px;
			padding-right: 4px;
			padding-left: 4px;
			border: none;
		}
	}
	&.active > a {
		@extend %extend_11;
	}
}
.header.header-shrink {
	.navbar-fixed-top {
		.nav {
			padding: 10px 0;
		}
		.navbar-brand {
			padding: 10px 0 0;
		}
	}
	.navbar-nav > li > a {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}
.panel-group .row {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}
.owl-theme .owl-controls {
	margin-top: 30px;
	margin-bottom: 30px;
	.owl-page span {
		background: $color_pale_sky_approx;
	}
	.owl-buttons div {
		background: $color_pale_sky_approx;
		&:hover {
			background: $color_regent_gray_approx;
		}
	}
}
.team .item {
	margin-bottom: 30px;
	.item-inner {
		background: $color_alabaster_approx;
		padding: 30px;
		padding-bottom: 60px;
		overflow: hidden;
		position: relative;
		.info > p {
			margin-bottom: 0;
		}
	}
	.figure {
		margin-bottom: 30px;
	}
	.info {
		margin-bottom: 0;
		h3 {
			text-align: left;
		}
		.name {
			margin-top: 0;
			color: $color_comet_approx;
			margin-bottom: 10px;
			font-size: 22px;
			font-weight: bold;
		}
		.role {
			font-size: 16px;
			margin-top: 0;
			margin-bottom: 15px;
			font-style: italic;
			color: $color_pale_sky_approx;
			text-align: left;
		}
	}
	.social {
		padding-top: 15px;
		margin-bottom: 15px;
		width: 100%;
		position: absolute;
		.social-list {
			margin: 0 auto;
			margin-bottom: 0;
			width: 100%;
			li {
				a {
					display: inline-block;
					width: 36px;
					height: 36px;
					background: $color_heather_approx;
					//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
					border-radius: 50%;
					//Instead of the line below you could use @include background-clip($clip)
					background-clip: padding-box;
					padding-top: 8px;
					&:hover {
						background: $color_pale_sky_approx;
					}
				}
				.fa {
					font-size: 18px;
					color: $white;
				}
			}
		}
	}
}