<!-- Contact Modal -->
<div class="modal modal-contact" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="contactModalLabel" class="modal-title text-center">{% t general.contact-modal-title %}</h4>
        <p class="intro text-center">{% t general.contact-modal-intro %}</p>
      </div>
      <div class="modal-body">
        <ul class="contact-info list-inline text-center">
          <li class="tel">
            <span class="fs1" aria-hidden="true" data-icon="&#x77;"></span><br />
            <a href="tel:{{ site.contact.tel-link }}">{{ site.contact.tel }}</a>
          </li>
          <li class="email">
            <span class="fs1" aria-hidden="true" data-icon="&#xe010;"></span><br />
            <a href="mailto:{{ site.contact.mail }}">{{ site.contact.mail }}</a>
          </li>
        </ul>
        {% include contact_form.html %}
      </div>
      <!--//modal-body-->
    </div>
    <!--//modal-content-->
  </div>
  <!--//modal-dialog-->
</div>
<!--//modal-->
