<!-- Contact Modal -->
<div class="dialog" id="dialog-contact">
  <div class="body">
    <a class="close" href="#">
      <i class="fa fa-times" aria-hidden="true"></i>
    </a>
    <h1>{% t general.contact-modal-title %}</h1>
    <div class="row">
      <a href="tel:{{ site.contact.tel-link }}">
        <div>
          <i class="fa fa-phone" aria-hidden="true"></i>
        </div>
        <br>
        <span class="text">{{ site.contact.tel }}</span>
      </a>
      <a href="mailto:{{ site.contact.mail }}">
        <div>
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </div>
        <br>
        <span class="text">{{ site.contact.mail }}</span>
      </a>
    </div>
    <p>{% t general.contact-modal-intro %}</p>
    {% include contact_form.html %}
  </div>
  <a href="#"><div class="overlay"></div></a>
</div>
