<form id="contact-form" method="post" action="http://gomailer.monkeypatch.io:8083/">
  <div id="sent">{% t contact.sent %}</div>
  <input type="hidden" name="redirect" value="http://www.monkeypatch.io/contact#sent" />
  <div class="row">
    <label for="txtName">{% t contact.name %}</label>
    <input type="text" name="subject" id="txtName" placeholder="{% t contact.name %}" required>
    <label for="txtEmail">{% t contact.email %}</label>
    <input type="email" name="from" id="txtEmail" placeholder="{% t contact.email %}" required>
  </div>
  <label for="txtMessage">{% t contact.message %}</label>
  <textarea name="body" id="txtMessage" placeholder="{% t contact.message %}" rows="8" required></textarea>
  <button type="submit" class="button">{% t contact.send %}</button>
</form>
