<!-- ******FOOTER****** --> 
<footer class="footer">
	<div class="footer-content">
		<div class="container">
			<div class="row">
				<div class="footer-col col-md-3 col-sm-4 links-col">
					<div class="footer-col-inner">
						<h3 class="sub-title">Quick Links</h3>
						<ul class="list-unstyled">

							 {% for node in site.pages %}
							 	<li><a href="{{node.url}}">{{node.title}}</a></li>
							  {% endfor %}
						</ul>
					</div><!--//footer-col-inner-->
				</div><!--//foooter-col-->
				<div class="footer-col col-md-3 col-sm-12 contact-col">
					<div class="footer-col-inner">
						<h3 class="sub-title">Get In Touch</h3>
						<p class="intro"></p>
						<div class="row">
							<p class="adr clearfix col-md-12 col-sm-4">
								<span class="fs1" aria-hidden="true" data-icon="&#xe01d;"></span>        
								<span class="adr-group">       
									<span class="street-address">{{ site.contact.address }}</span><br />
									<span class="city">{{ site.contact.city }}</span><br />
									<span class="postal-code">{{ site.contact.postcode }}</span><br />
									<span class="country-name">{{ site.contact.country }}</span>
								</span>
							</p>
							<p class="tel col-md-12 col-sm-4"><span class="fs1" aria-hidden="true" data-icon="&#x77;"></span><a href="tel:+{{ site.contact.tel }}">{{ site.contact.tel }}</a></p>
							<p class="email col-md-12 col-sm-4"><span class="fs1" aria-hidden="true" data-icon="&#xe010;"></span><a href="#">{{ site.contact.mail }}</a></p> 
						</div> 
					</div><!--//footer-col-inner-->            
				</div><!--//foooter-col-->   
			</div>   
		</div>        
	</div><!--//footer-content-->
	<div class="bottom-bar">
		<div class="container center">                                   
			<ul class="social-icons list-inline">
				<li><a href="https://twitter.com/3rdwave_themes"><i class="fa fa-twitter"></i></a></li>                        
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://www.facebook.com/3rdwavethemes"><i class="fa fa-instagram"></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				<li class="last"><a href="#"><i class="fa fa-google-plus"></i></a></li>                     
			</ul> 
			<small class="copyright text-center">Copyright @ 2015 <a href="http://themes.3rdwavemedia.com/" target="_blank">3rd Wave Media</a></small>                 
		</div><!--//container-->
	</div><!--//bottom-bar-->
</footer><!--//footer-->