<!-- ******FOOTER****** --> 
<footer class="footer">
	<div class="footer-content">
		<div class="container">
			<div class="row">
				<div class="footer-col col-md-3 col-sm-4 links-col">
					<div class="footer-col-inner">
						<h3 class="sub-title" data-i18n="general.quick-links"></h3>
						<ul class="list-unstyled">

						{% assign sorted_pages = site.pages %}
						{% for group in (1..10) %}
							{% for node in sorted_pages  %}
					      		{% if group == node.group %}
									<li><a href="{{node.url}}" data-i18n="titles.{{node.key-title}}"></a></li>
								{% endif %}
							{% endfor %}
						{% endfor %}

						</ul>
					</div><!--//footer-col-inner-->
				</div><!--//foooter-col-->
				<div class="footer-col col-md-3 col-sm-12 contact-col">
					<div class="footer-col-inner">
						<h3 class="sub-title" data-i18n="general.get-in-touch"></h3>
						<p class="intro"></p>
						<div class="row">
							<p class="adr clearfix col-md-12 col-sm-4">
								<span class="fs1" aria-hidden="true" data-icon="&#xe01d;"></span>        
								<span class="adr-group">       
									<span class="street-address">{{ site.contact.address }}</span><br />
									<span class="postal-code">{{ site.contact.postcode }}, </span><span class="city">{{ site.contact.city }}</span><br />
									<span class="country-name">{{ site.contact.country }}</span>
								</span>

							</p>
							<p class="tel col-md-12 col-sm-4"><span class="fs1" aria-hidden="true" data-icon="&#x77;"></span><a href="tel:+{{ site.contact.tel }}">{{ site.contact.tel }}</a></p>
							<p class="email col-md-12 col-sm-4"><span class="fs1" aria-hidden="true" data-icon="&#xe010;"></span><a href="mailto:{{ site.contact.mail }}">{{ site.contact.mail }}</a></p> 
							<ul class="social-icons list-inline">
									<li><a href="https://twitter.com/monkeypatchfr"><i class="fa fa-twitter"></i></a></li>                        
									<li><a href="https://linkedin.com/in/monkeypatch"><i class="fa fa-linkedin"></i></a></li>
							</ul> 
						</div> 
					</div><!--//footer-col-inner-->            
				</div><!--//foooter-col-->   
			</div>   
		</div>        
	</div><!--//footer-content-->
	<div class="bottom-bar">
		<div class="container center">                                   
			
			<small class="copyright text-center">Copyright @ 2015 MonkeyPatch</small>                 
		</div><!--//container-->
	</div><!--//bottom-bar-->
</footer><!--//footer-->