<!-- ******FOOTER****** --> 
<footer class="footer">
	<div class="footer-content">
		<div class="container">
			<div class="row">
				<div class="footer-col col-md-3 col-sm-6 col-xs-12 links-col">
					<div class="footer-col-inner">
						<h3 class="sub-title" data-i18n="general.quick-links"></h3>
						<ul class="list-unstyled">

						{% assign sorted_pages = site.pages %}
						{% for group in (1..10) %}
							{% for node in sorted_pages  %}
					      		{% if group == node.group %}
									<li><a href="{{node.url}}" data-i18n="titles.{{node.key-title}}"></a></li>
								{% endif %}
							{% endfor %}
						{% endfor %}

						</ul>
					</div><!--//footer-col-inner-->
				</div><!--//foooter-col-->
				<div class="footer-col col-md-4 col-sm-6 col-xs-12 contact-col">
					<div class="footer-col-inner">
						<h3 class="sub-title" data-i18n="general.get-in-touch"></h3>
						<div class="row">
							<p class="adr clearfix col-md-12 col-sm-12">
								<a href="contact.html">
									<span class="fs1" aria-hidden="true" data-icon="&#xe01d;"></span>        
									<span class="adr-group">  
										<img class="highlight" src="{{ site.baseurl }}/public/images/icons/Toulouse.png" alt="" />
									</span>
								</a>
							</p>
							<p class="email col-md-12 col-sm-12"><span class="fs1" aria-hidden="true" data-icon="&#xe010;"></span><a href="mailto:{{ site.contact.mail }}">{{ site.contact.mail }}</a></p> 
						</div> 
					</div><!--//footer-col-inner-->            
				</div><!--//foooter-col-->   
				<div class="footer-col col-md-3 col-sm-6 col-xs-12 contact-col">
					<div class="footer-col-inner">
						<h3 class="sub-title" data-i18n="general.social-networks"></h3>
						<div class="row">
							<ul class="social-icons list-inline">
								<li><a href="https://twitter.com/monkeypatch_io"><i class="fa fa-twitter"></i></a></li>                        
								<li><a href="https://linkedin.com/in/monkeypatch"><i class="fa fa-linkedin"></i></a></li>
							</ul> 
						</div> 
					</div><!--//footer-col-inner-->            
				</div><!--//foooter-col-->   
			</div>   
		</div>        
	</div><!--//footer-content-->
	<div class="bottom-bar">
		<div class="container-fluid">                                   
      		<div class="col-md-2 hidden-xs"></div>
      		<div class="col-md-8 col-xs-12">
				<span class="copyright text-center">Copyright @ 2015 MonkeyPatch - <a href="/terms.html" data-i18n="titles.terms"></a></span>                 
			</div>
			<div class="col-md-2 hidden-xs">
				<span class="copyright text-center">Made with</span>
				<span  aria-hidden="true" data-icon="&#xe030;"></span>  
				<span class="copyright text-center">In Toulouse</span>     
			</div>
		</div><!--//container-->
	</div><!--//bottom-bar-->
</footer><!--//footer-->