<div class="bg-slider-wrapper">
	<div id="bg-slider" class="flexslider bg-slider">
		<ul class="slides">
			<li class="slide slide-1"></li>
			<li class="slide slide-2"></li>
			<li class="slide slide-3"></li>
		</ul>
	</div>
</div><!--//bg-slider-wrapper--> 
<section id="home-promo" class="home-promo section">
	<div class="container text-center">                
		<div class="header-title-section">
			<h1 class="intro" data-i18n="home.tagline1"></h1>
			<h1 class="title" data-i18n="home.tagline2"></h1>
		</div>
		<button class="btn btn-cta btn-cta-primary" type="button" data-toggle="modal" data-target="#modal-contact" data-backdrop="static" data-i18n="general.talk-to-us"></button>
	</div><!--//container-->
</section><!--//promo-->