#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  max-width: 95vw;

  label {
    display: none;
  }

  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    input {
      flex: 1 1 auto;
      min-width: 12rem;
    }
  }

  input, textarea, button {
    margin: 0.25rem 0;
    padding: .5rem 0.5rem;
    border: none;
    border-radius: .25rem;
    font-size: 1.25rem;
    font-weight: normal;
    text-decoration: none;
  }
  #txtName {
    margin-right: .25rem;
  }
  textarea {
    resize: vertical;
  }
}

// No placeholder support
.no-placeholder #contact-form {
  text-align: left;
  label {
    display: block;
    text-align: left;
  }
  .row {
    text-align: left;
  }
  button {
    display: block;
  }
}

@media (max-width: 42rem) {
  #contact-form {
    #txtName {
      margin-right: 0;
    }
  }
}
