body>header {
  background: transparentize($bgHeaderMenu,.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  max-width: 100vw;
  box-shadow: 0 3px 10px transparentize($black, .8);

  .menu {
    height: $menuHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo, nav {
      display: inline-block;
    }

    .logo img {
      margin-left: 1rem;
      height: 3.25rem;
      width: 15,316375rem;
    }

    nav ul {
      display: inline-block;
      li {
        display: inline;
        a {
          outline: 0;
          display: inline-block;
          white-space: nowrap;
          padding: 0 0.5rem;
          font-size: 1rem;
          color: $txtLink;
          text-decoration: none;
          transition: all 0.2s ease-in-out;
        }
        &.active a {
          color: $txtLinkActive;
          box-shadow: 0 3px 0 $white;
        }
        a:hover {
          box-shadow: 0 2px 0 transparentize($bgHeaderMenu,.1),
            0 3px 0 $white;
        }
      }
    }

    nav.menu {
      flex: 1 1 auto;
      text-align: right;
    }

    nav.lang {
      display: none;
      order: 1;
      margin: 0 0.5rem 0 2rem;
      ul {
        margin-top: 0;
        li {
          color: $txtLink;
          font-size: .8rem;
          a {
            padding: 0;
            font-size: .8rem;
          }
        &.active a {
          color: $txtLinkActive;
          box-shadow: 0 2px 0 $white;
        }
        a:hover {
          box-shadow: 0 1px 0 transparentize($bgHeaderMenu,.1),
            0 2px 0 $white;
        }
        }
      }
    }

    nav.hamburger {
      display: none;
      label {
        padding: 1.25rem 1rem 0.625rem 0.5rem;
        font-size: 1.5rem;
        color: $txtLink;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        &:hover {
          color: $txtLinkActive;
        }
      }
    }
  }
  #menu-hamburger {
    &~ .menu-hamburger {
      display: none;
    }

    &:checked ~ .menu-hamburger {
      display: block;
    }
  }
  .menu-hamburger {
    border-top: thin solid transparentize($white, .8); 
    ul {
      padding: 0;
      margin: 0;
      li {
        padding: .25rem 0.5rem;
        list-style: none;
        &.active {
          background-color: $bgHeaderMenuActive;
        }
        a {
          text-decoration: none;
          color: $txtLink;
          transition: all 0.4s ease-in-out;
          &:hover {
            color: $txtLinkActive;
          }
        }
     }
    }
    .lang {
      display: none;
    }
  }
}

@media (max-width: 60rem) {
  body>header .menu {
    nav.menu, nav.lang {
      display: none;
    }
    nav.hamburger {
      display: inline-block;
    }
  }
}

// No Flexbox support
.no-flexbox body > header {
  .menu nav {
    float: right;
  }
}
