@import "reset";

body {
  font-family: 'Open Sans', arial, sans-serif;
  color: $txtGrey;
  font-size: 1.125rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
}

// Hide checkbox
input[type=checkbox], input[type=radio] {
  display: none;
}

// Default section
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// Buttons, Labels
.button {
  display: inline-block;
  padding: .5rem 1.875rem;
  background: $blue3;
  color: $white;
  border: none;
  border-radius: .25rem;
  font-size: 1.25rem;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover {
    background: $blue4;
    text-decoration: none;
  }
}

// Default links
a {
  color: $blue8;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  &:hover {
    text-decoration: underline;
  }
}

@import "header";
@import "footer";
@import "modal";
@import "contact";

@import "page-index";
@import "page-expert";
@import "page-about";
@import "page-careers";
@import "page-job";
@import "page-contact";
