@import "reset";

body {
  font-family: 'Open Sans', arial, sans-serif;
  color: $txtGrey;
  font-size: 1.125rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
  scroll-behavior: smooth;
}

// Hide checkbox
input[type=checkbox], input[type=radio] {
  display: none;
}

// Default section
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 $globalMargin;

  &.error {
    margin: $menuHeight 1rem 1rem 1rem;
  }
}


// Buttons, Labels
.button {
  display: inline-block;
  padding: .5rem 1.875rem;
  background: $blue1;
  color: $white;
  border: none;
  border-radius: .25rem;
  font-size: 1.25rem;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover {
    background: $blue4;
    text-decoration: none;
  }
}

// Default links
a {
  color: $blue8;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  &:hover {
    text-decoration: underline;
    text-shadow: .125rem .125rem .5rem transparentize($black,0.8);
  }
}

// No Flexbox supports
.no-flexbox {
  h1, h2, h3, h4, h5, h6 {
    display: block;
    text-align: center;
  }
  p {
    display: block;
  }
}

@import "header";
@import "footer";
@import "modal";
@import "contact";
@import "highlight";

@import "page-index";
@import "page-expert";
@import "page-about";
@import "page-careers";
@import "page-job";
@import "page-job-offer";
@import "page-contact";
@import "page-terms";
@import "page-error";


@import "page-blog-index";
@import "page-blog-post";
