.dialog {
  position: fixed;
  padding: $menuHeight 0 0 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  top: -150%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  .body {
    max-width: calc(100vw - 1rem);
    background: $white;
    border-radius: .25rem; 
    box-shadow: .25rem .25rem .75rem transparentize($black,.1);
    z-index: 20;
    position: relative;
  }

  &:target {
    opacity: 1;
    top: 0;
    visibility: visible;
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      background: transparentize(black,.2);
      z-index: 10;
    }
  }

  .close {
    float: right;
    margin: 0.25rem 0.5rem;
    font-size: 1.5rem;
    color: $txtBenefitHeader;
    opacity: .8;
    transition: all .4s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }

  h1, p, .row {
    text-align: center;
    color: $txtBenefitHeader;
  }
  h1 {
    margin: 1rem;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    a {
      margin-bottom: 0.5rem;
      color: $txtBenefitHeader;
      text-align: center;
      &:hover {
        text-decoration: none;
        .text {
          text-decoration: underline;
        }
      }
      div {
        width: 2.5rem;
        height: 2.5rem;
        margin: 0;
        border: thin solid $txtBenefitHeader;
        border-radius: 50%;
        display: inline-block;      
        i.fa {
          font-size: 1.5rem;
          display: inline-block;
          line-height: 2.5rem;
        }
      }
    }
  }
  form {
    background: $grey3;
  }
}


@media screen and (max-height: 60rem) {
  .dialog .body {
    & > p, #contact-form {
      display: none;
    }
  }
}

.no-flexbox .dialog {
  .row, p {
    display: block;
  }
  .row {
    text-align: center;
    a {
      display: inline-block;
    }
  }
}
