.contact {

  .contact-top {
    height: 480px;
    background-image: url('/public/images/background/Toulouse-PontNeuf.jpg');
    background-repeat: no-repeat;
    background-position: 50% center; 
    background-size: cover;
  }

  .meet-us {
    margin: 1rem auto;
    h1, h2 {
      color: $grey2;
    }
    h2 {
      margin: 0;
      font-weight: normal;
      font-size: 1.25rem;
    }
    .map {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      address {
        flex: 1 1;
        margin: 1rem;
        padding: .5rem;
        font-style: normal;
        text-align: left;
        background-color: $bgBenefit;
        h2 {
          color: $txtBenefitHeader; 
        }
        i.fa::after {
          color: $txtBenefitIcon;
        }
      }
      iframe{
        max-width: 95vw;
        flex: 3 1;
      }
    }
  }

  .contact-block {
    color: $grey4;
    background: $grey3;
  }
  
}
