.careers{

  section {
    margin: 0;
    h2 {
      font-weight: normal;
      font-size: 1.125rem;
    }

    .content {
      text-align: left;
      margin: 0.5rem;
    }
  }

  .careers-top {
    margin-top: $menuHeight;
    height: 480px;
    background: 
      url('/public/images/careers/assets_bg-bottom.png') no-repeat center bottom,
      url('/public/images/background/career.jpg') no-repeat center center;
    background-size: contain, cover;
  }

  .profiles {
    background: $white url('/public/images/careers/assets_bg-top.png') no-repeat scroll center bottom / 100% auto;
    padding-bottom: 120px;
    h1, h2 {
      color: $grey2;
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .profile {
        flex: 1 1 33%;
        background-color: $bgBenefit;
        max-width: 32rem;
        min-width: 16rem;
        margin: 1rem;
        padding: 0.25rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        img {
          margin: 0.5rem;
        }
      }
    }
  }
  
  .assets {
    background-color: $grey3;
    padding-bottom: 2rem; 
    color: $grey2;

    .list {
      display: flex;
      flex-direction: column;

      .asset {
        margin: .5rem 0;
        padding: 0 1rem 0 .5rem;
        background-color: $white;
        border-left: .25rem solid $blue6;
        width: 80vw;
        label {
          width: 100%;
          display: flex;
          align-items: center;
          cursor: pointer;
          div {
            flex: 1 1 auto; 
            color: $grey4;
            transition: all 0.4s ease-in-out;
            &:hover {
             color: $blue6;
            }
          }
          .open, .close {
            color: $blue6;
            border: none;
            background-color: $white;
            align-items: center;
            padding-right: 0.25rem;
            outline: 0;
            flex: 0 0;
            cursor: pointer;
          }
          .open {
            display: flex;
          }
          .close {
            display: none;
          }
        }
        .content {
          width: 100%;
          display: none;
        }
      }

      input[name="accordion"]:checked + .asset {
        .open {
          display: none;
        }
        .close {
          display: flex;
        }
        .content {
          display: block;
        }
      }
    }
  }
}

// No Flexbox support
.no-flexbox .careers {
  .profiles {
    background-image: none;
  }
  .profiles .list .profile {
    display: inline-block;
  }
  .assets {
    margin-top: 0 !important;
  }
  .assets .list .asset {
    display: block;
    label {
      display: table-row;
      vertical-align: middle;
      & > span, & > div {
        display: table-cell;
        vertical-align: middle;
      }
      & > div.title {
        width: 100%;
      }
      & > div.open {
        float: right;
        height: 3rem;
        padding-top: 1.5rem;
      }
    }
  }
}
