.index {

  .header {
    background: $greyIndex url('/public/images/fond.svg');
    background-repeat: no-repeat;
    background-size: cover;
    h1, h2, p, ul {
      margin: 0;
      color: $white;
      width: 100%;
    }
    h1 {
      padding-top: $menuHeight + 2rem;
      text-align: center;
      font-size: 3rem;
      &::before, &::after {
        display: inline-block;
        width: 8rem;
        height: 2rem;
        border-bottom: medium solid $white;
        vertical-align: text-top;
        margin: 0 2rem; 
        content: ' ';
      }
    }
    h2 {
      text-align: left;
      margin: 1.5rem 0;
    }
    p {
      margin: 0;
      text-align: justify;
    }
    ul {
      text-align: left;
      margin: 0.5rem 0;
    }
    .header-top {
      padding-top: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      img {
        margin-top: -3rem; // XXX
        max-width: 80vw;
        max-height: calc(100vh - 8rem);
      }
    }
    .header-bottom {
      padding-top: 0;
      padding-bottom: 3.5rem;
      display: flex;
      flex-direction: column;
      background-color: transparentize($black, .5);
      .benefits {
        margin: 2rem 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        svg {
          text, tspan {
            font-family: 'Open Sans';
          }
        }
      }
    }
  }

  .customers {
    margin: 3.5rem 0;
    h2, p {
      margin: 1rem auto;
      display: inline-block;
      max-width: 75vw;
    }
    h2 {
      font-size: 2rem;
    }
    p {
      text-align: justify;
    }
    .list {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;
      align-content: space-around;
      &> span {
        margin: 1rem;
        flex: 1 1 200px;
      }
    }
  }
}

@media (max-width: 62rem) {
  .index .header h1 {
    &::before, &::after {
      display: none;
    }
  }
}

// Support for IE9
.no-flexbox .index {
  .list > span, .header .header-bottom .benefits > div {
    display: inline-block;
  }
}
