$tabBorderWidth: .125rem;

@keyframes DisplayTab {
  0% {
    transform: translate(100vw);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.expert {
  section {
    padding-top: 3.5rem;
    overflow: hidden;

    p {
      text-align: justify;
    }

    h1, h2 {
      font-weight: bold;
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.125rem;
      font-weight: 400;
    }

    .list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: stretch;
      align-content: space-around;

      &> div {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
    
    hr {
      width: 100%;
    }

    .detail {
      text-align: left;
    }
    
    input[type=radio] {
      position: fixed;
      top: -100vh;
      left: 100vw;
    }
    
    // Tabs
    .tabs {
      padding: .5rem 0 3.5rem 0;
      width: 100%;
      label {
        display: block;
        float: left; 
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        padding-top: .25rem;
        border: $tabBorderWidth solid transparent;
        svg {
          width: 10rem;
          height: 10rem;
          max-width: 100%;
          .hexa-inner, .hexa-outer {
            opacity: 0.4;
          }
        }
        h3 {
          margin: .25rem 0 .5rem 0;
          &::before {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            content: '\f054';
            margin-right: .25rem;
          }
        }
      }
      [id^="tab"]:checked + label {
        //border-bottom-color: transparentize($white, 0.6);
        h3 {
          //font-weight: bold;
          &::before {
            content: '\f078';
          }
          
        }
        svg {
          .hexa-outer {
            opacity: .85;
          }
          .hexa-inner {
            opacity: .6;
          }
        }
      }
      article {
        text-align: left;
        display: none;
        clear: both;
        padding: 0 .5rem;
        margin: .5rem 0;
        transition: all 0.4s ease;
        animation: DisplayTab 0.7s ease-in-out;
        border-left: $tabBorderWidth solid transparentize($white, 0.6);
        h2, h3, h4 {
          margin: 0;
        }
        h2 {
          font-size: 1.5rem;
        }
      }
    }
  }

  .solutions {
    background: $blue1 url('/public/images/fond.svg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5.5rem;
    color: $white;
    h1 {
      text-align: left;
      width: 100%;
    }
    & > div {
      display: flex;
      flex-direction: row;
      .rocket {
        margin-right: 1rem;
        flex: 1 1 auto;
        display: flex;
      }
      p {
        flex: 1 1 auto;
      }
    }
  }

  .offers {
    background-color: $bgContact;
    color: $txtContact;

    h2, h3, h4 {
      color: $bgOffers;
    }

    .tabs { // 4 tabs
      label {
        width: calc( (100% / 4) - 2 * #{$tabBorderWidth});
        svg {
          max-height: calc( 80vw / 4);
        }
      }
      [id^="tab"]:checked + label, article {
        //background: darken($bgOffers, 10%);
      }
      [id^="tab"] + label svg  {
        path, polygon {
          fill: $bgOffers;
        }
        .inner {
          path, polygon {
            fill: $bgContact;
          }
        }
      }
      [id^="tab"]:checked + label svg .inner {
        path, polygon {
          fill: $bgOffers;
        }
      }
      [id^="tab"]:checked + label svg .inner {
        path, polygon {
          fill: $white;
        }
      }
      #tab-offer-0:checked ~ #content-offer-0,
      #tab-offer-1:checked ~ #content-offer-1,
      #tab-offer-2:checked ~ #content-offer-2,
      #tab-offer-3:checked ~ #content-offer-3,
      #tab-offer-4:checked ~ #content-offer-4,
      #tab-offer-5:checked ~ #content-offer-5,
      #tab-offer-6:checked ~ #content-offer-6 {
        display: block;
      }

      article {
        border-left: .125rem solid transparentize($bgOffers,0.4);
      }
    }
  }

  .interventions {
    background-color: $bgInterventions; 
    color: $white;
    .tabs { // 4 tabs
      label {
        width: calc( (100% / 3) - 2 * #{$tabBorderWidth});
        svg {
          max-height: calc( 80vw / 3);
        }
      }
      [id^="tab"]:checked + label, article {
        //background: darken($bgInterventions, 10%);
      }
      [id^="tab"]:checked + label svg .inner {
        path, polygon {
          fill: $bgInterventions;
        }
      }
      #tab-intervention-0:checked ~ #content-intervention-0,
      #tab-intervention-1:checked ~ #content-intervention-1,
      #tab-intervention-2:checked ~ #content-intervention-2,
      #tab-intervention-3:checked ~ #content-intervention-3,
      #tab-intervention-4:checked ~ #content-intervention-4,
      #tab-intervention-5:checked ~ #content-intervention-5,
      #tab-intervention-6:checked ~ #content-intervention-6 {
        display: block;
      }
    }
  }

  .approach {
    padding-bottom: 3.5rem;
    background-color: $bgApproach;
    color: $white;
    &> div {
      text-align: left;
    }
  }

  .profiles {
    background-color: $grey2;
    color: $white;
    .tabs { // 4 tabs
      article .techno {
        font-size: 80%;
        font-style: italic;
        span:nth-child(n+2) {
          &::before {
            content: ', ';
          }
        }
      }
      label {
        width: calc( (100% / 4) - 2 * #{$tabBorderWidth});
        svg {
          max-height: calc( 80vw / 4);
        }
      }
      [id^="tab"]:checked + label, article {
        //background: darken($grey2, 10%);
      }
      [id^="tab"]:checked + label svg .inner {
        path, polygon, circle, rect {
          fill: $grey2;
        }
        line {
          stroke: $grey2;
        }
      }
      #tab-profile-0:checked ~ #content-profile-0,
      #tab-profile-1:checked ~ #content-profile-1,
      #tab-profile-2:checked ~ #content-profile-2,
      #tab-profile-3:checked ~ #content-profile-3,
      #tab-profile-4:checked ~ #content-profile-4,
      #tab-profile-5:checked ~ #content-profile-5,
      #tab-profile-6:checked ~ #content-profile-6 {
        display: block;
      }
    }
  }

  .contact-block {
    background-color: $bgContact;
    color: $txtContact;
    & > div {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 3rem;

      p {
        margin: 0;
        padding: 0 0 1rem 0;
        flex: 1 1 auto;
      }
      div {
        margin-left: 1rem;
        flex: 1 1 auto;
      }
    }
  }
}

// No Flexbox support
.no-flexbox .expert {
  section .list > div {
    display: inline-block;
    span {
      display: block;
    }
  }
}

@media (max-width: 40rem) {
  .expert section .tabs {
    label h3 {
      display: none;
    }
  }
}

@media (max-width: 62rem) {
  .expert .solutions > div {
    flex-direction: column;
  }
  .expert .contact-block > div {
    flex-direction: column;
  }
}
