$navWidth: 15rem;

.post {
  line-height: 1.62857143;

  nav.index {
    color: $grey4;
    background: $grey3;
    border-radius: .25rem;
    position: fixed;
    left: .5rem;
    width: $navWidth;
    top: 1rem + $menuHeight;
    font-size: small;
    h1,h2,h3,h4,h5,h6 {
      margin: .25em 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h1 {
      font-size: 1.1em;
    }
    h2 {
      padding-left: .25rem;
      font-size: 1em;
    }
    h3 {
      padding-left: .5rem;
      font-size: 0.8em;
    }
    h4 {
      padding-left: .75rem;
      font-size: 0.7em;
    }
    h5 {
      padding-left: 1rem;
      font-size: 0.6em;
    }
    h6 {
      padding-left: 1.25rem;
      font-size: 0.5em;
    }
  }
  section {
    display: block;
    margin-left: 7rem;
    padding-left: 0;
    padding: 0 13vw;
  }

  .share {
    text-align: right;
    float: right;
  }

  section.post {
    text-align: left;
    color: $black;

    h1 {
      padding-top: 3.5rem;
      .count {
        font-size: 1rem;
        float: right;
      }
    }

    .date {
      color: $txtGrey;
    }

    .authors{
      display: flex;
      width: 100%;
      justify-content: flex-start;
      text-align: left;
      color: $txtGrey;
      font-size: 1.1rem;
      a {
        display: flex;
        margin: 0 1rem;
        height: 3rem;
        align-items: center;
        img {
          border-radius: 50%;
          margin-right: .5rem;
            max-width: 3rem;
        }
      }
    }

    .tags {
      margin-top: 1rem;
      font-size: 80%;

      &::before {
        content: 'Tags: ';
      }

      span {
        font-style: italic;
        display: inline;
        padding: .2em .6em .3em;
        font-weight: 700;
        line-height: 1;
        color: $white;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
        background-color: $blue8;
      }
    }

    article {
      width: 100%;
      margin: 1rem 0;

      p {
        text-align: justify;
        margin: 1rem 0 0 0;

        img {
          max-width: 100%;
        }
      }
      abbr {
        cursor: help;
      }
      ul {
        margin: .5rem 0;
        li {
          line-height: 1.75rem;
        }
      }
      figure {
        margin: 2rem 0;
      }
      blockquote {
        margin: 0.5rem 0 0 0;
        padding-left: 1rem;
        border-left: medium solid $blue1;
        font-style: italic;
      }
      h1,h2,h3,h4,h5,h6 {
        padding-left: 1rem;
        abbr {
          display: none;
        }
        a {
          &::before {
            float: left;
            padding-top: .5rem;
            padding-right: .25rem;
            margin-left: -1.25em;
            line-height: 1em;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
          &:hover::before {
            content: '\f0c1';
          }
        }
      }
    }
  }
}

@media screen and (max-width: 64rem) {
  .post {
    nav.index {
      display: none;
    }
    section.post {
      margin-left: $globalMargin;
    }
  }
}
