body.job {
  
  main {
    section {
      display: block;
      text-align: left;
    }

    .profile {
      float: right;
      margin-left: 1rem; 
    }
    p {
      text-align: justify;
    }
  }
}
