
// Colors
$white: #fff;
$black: #000;

$blue5: #2ebcfc;
$blue1: #03a9f4;
$blue6: #13a8eb;
$blue2: #0a97d3;
$blue3: #0288d1;
$blue7: #4285F4;
$blue4: #026CA6;


$darkBlue: #013d5c;

$txtGrey: #666;
$grey2: #5E5E5E;

// Links
$txtLinkActive: $white;
$txtLink: transparentize($txtLinkActive, .2);

// Header
$bgHeaderMenu: $blue1;
$bgHeaderMenuActive: $blue2;

// Footer
$bgFooter: $blue3;
$bgFooterBottom: $blue4;
$bgBtnTop: $darkBlue;

$txtFooter: transparentize($white, .1);
$txtFooterBottom: $txtFooter;
$txtFooterHeader: $txtFooter;

$bgSocial: $txtFooter;
$txtSocial: $bgFooter;

// Index
$bgBenefit: #F8F9FA;
$txtBenefitIcon: #727272;
$txtBenefitHeader: #505c70;

// Expert
$txtSolutionHeader: $blue6;
$txtSolutionSubtitles: $grey2;

$bgOffers: $blue6;
$bgInterventions: #9B26AF;

$bgApproach: $blue6;

$txtProfiles:$blue7;

$bgContact: #F4F4F4;
$txtContact: #7F7F7F;

// Team
$txtTeamSocial: #bcc4d0;
$txtTeamSocialHover: #65758e;