<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> 
<html><!--<![endif]-->  
   {% include head.html %}
    <body class="{{page.body-class}}">
    	
    	{% include header.html %}
	
	    {{ content }}

		{% include footer.html %}

		<!-- include js -->
		{% include libraries.js %}

		{% if page.jsinclude %}
			{% for jsInc in page.jsinclude %}
				{% assign js = {{jsInc[1]}} %}
				{% include {{js}} %}
			{% endfor %}
		{%endif %}

		<script type="text/javascript" src="{{ site.baseurl }}/public/js/main.js"></script>
  </body>
</html>




