<!DOCTYPE html>
<!--  lastBuildDate : {{ site.time | date_to_rfc822 }} -->
<html>
{% include head.html %}
<body class="post">
  {% include header.html %}
  <section class="post">
    <h1>
      <span>{{page.title}}</span>
      <span class="date">{% include date.html date=page.date %}</span>
      <div class="authors">
        {% for author in page.authors %}
          <a href="https://plus.google.com/{{ site.data.authors[author].googleplus }}" rel=author>{{ site.data.authors[author].name }}</a>
        {% endfor %}
      </div>
      <!--<a href="#disqus_thread" class="count"><script id="dsq-count-scr" src="//monkeypatchblog.disqus.com/count.js" async></script></a>-->
    </h1>

    <div class="tags">
      {% for tag in page.tags %}
        <span>{{ tag }}</span> 
      {% endfor %} 
    </div>

    <article>{{ content }}</article>
  </section>
  
  {% if page.comments %}
  <section class="comment">
    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () {
        this.page.url = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//monkeypatchblog.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </section>
  {% endif %}

  {% include footer.html %}
  <!-- Google Tag Manager -->
  <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-KGGFWH" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <script>
    (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        '//www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KGGFWH');
  </script>
  <!-- End Google Tag Manager -->
  <script src="/public/scripts/modernizr-custom.js"></script>
  <script src="/public/scripts/main.js"></script>
</body>
</html>




